PhotoFrame.Web/bin/PhotoFrame.Web.dll
PhotoFrame.Web/bin/PhotoFrame.Web.dll
*.pdb
*.dll
PhotoFrame.Web/bin/PhotoFrame.Web.dll
PhotoFrame.Web/bin/PhotoFrame.Web.pdb
PhotoFrame.Web/obj/Debug/PhotoFrame.Web.dll
PhotoFrame.Web/obj/Debug/PhotoFrame.Web.pdb
