
@{
    ViewBag.Title = "Legal Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Legal</h2>*@


<div class="pfSiteContent">
    <div class="">
        <h4><strong>@ViewBag.Title</strong></h4>
    </div>
    <section>
        Ipsum Lorem....
    </section>
</div>

